:root{
    --main-bg-color: #54cca6;
    --content-bg-color: #98d6d3;
}

*{
    margin: 0;
    padding: 0;
    /* outline: 2px solid red; */
}

/* This is for the titles above the add task/project */
h3{
    margin: 1ch;
}

button{
    margin: 0;
}

header{
    text-align: center;
}

body{
    background-color: var(--main-bg-color);
}

.FormWrapper{
}

.FormDialog{
    position:fixed;
    width: 80vh;
    height: 80vh;
    margin: auto;
    text-align: center;
    /* justify-content: center; */
    align-items: center;
    border: transparent;
    background-color: var(--main-bg-color);
    border-radius: 5ch;
    outline: 2ch solid yellow;
}

#LayoutContainer{
    background-color: var(--content-bg-color);
    min-height: 70vh;
    margin: 3ch;
    border-radius: 5ch;
    display: flex;
}

#SideBarContainer{
    flex: 1;
    background-color: var(--main-bg-color);
    margin: 2ch;
    margin-right: 0ch;
    border-radius: 3ch;
    text-align: center;
    /* outline: 2px solid red; */
}

#ContentContainer{
    flex: 2;
    text-align: center;
    margin: 2ch;
    margin-left: 0ch;
    /* outline: 2px solid red; */
}
