:root{
    --main-bg-color: #54cca6;
    --content-bg-color: #98d6d3;
}

*{

}

header{
    text-align: center;
}

body{
    background-color: var(--main-bg-color);
}

#LayoutContainer{
    background-color: var(--content-bg-color);
    min-height: 70vh;
    margin: 3ch;
    border-radius: 5ch;

    display: flex;
}

#SideBarContainer{
    flex: 1;
    background-color: var(--main-bg-color);
    margin: 3ch;
    border-radius: 3ch;
    
}

#ContentContainer{
    flex: 2;
    /* background-color: yellow; */
}
